@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

  #custom-cursor {
    background: rgb(85, 0, 128);
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
  }
  body {
    cursor: none;
  }

  .shine-hover {
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(255, 255, 255, 0.15),
      transparent
    );
    transform: skewX(-20deg);
    opacity: 0;
  }
  
  /* TRIGGER ON HOVER */
  .group:hover .shine-hover {
    animation: shine 1.5s ease;
    opacity: 1;
  }
  
  @keyframes shine {
    0% {
      left: -100%;
    }
    100% {
      left: 150%;
    }
  }